*{
    -ms-overflow-style: none;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
html, body { width:100vw; height:100vh; } 

canvas { 
   overflow: hidden;
   width:100vw;
   height:100vh;
   background-color:white;
}